*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
  }
  
  .black
  {
    background-color: rgb(30, 30, 30) ;
    color: white;
  }
  
  .none{
    display: none !important;
  }
  
  nav{
    background-color: #0082e6;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  
  .logo a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  nav ul{
    float: right;
      margin-right: 50px;
    }
    
  nav ul li a{
    text-decoration: none;
    padding: 8px 22px ;
      color: white;
      font-size: 25px;
      border-radius: 3px;
      font-style: normal;
      font-family: "Afacad", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
    }
  
  nav ul li{
      list-style-type: none;
      display: inline-block;
      line-height: 80px;
      margin:0 5px;
  }
  
  nav ul li a:hover,nav ul li a:active{
      padding: 8px 40px ;
      background-color: #e4e4e4;
      transition: .2s;
      color: rgb(0, 0, 0);
      font-weight: 500;
      
    }
    
    .checkbtn{
      font-size: 30px;
      color:white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      display: none;
      cursor: pointer;
      border: none;
      background: none;
    }
  
  #check{
      display: none;
    }
  
    @media (max-width:1040px) {
      
      .main img{
        height: 40vh !important;
        width: 80vw !important;
      }
      .checkbtn{
        display: block;
      }
  
      nav ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          display: none;
          background-image: linear-gradient(135deg, rgba(159, 159, 159, 0.46) 0%, rgba(159, 159, 159, 0.46) 14.286%,rgba(165, 165, 165, 0.46) 14.286%, rgba(165, 165, 165, 0.46) 28.572%,rgba(171, 171, 171, 0.46) 28.572%, rgba(171, 171, 171, 0.46) 42.858%,rgba(178, 178, 178, 0.46) 42.858%, rgba(178, 178, 178, 0.46) 57.144%,rgba(184, 184, 184, 0.46) 57.144%, rgba(184, 184, 184, 0.46) 71.43%,rgba(190, 190, 190, 0.46) 71.43%, rgba(190, 190, 190, 0.46) 85.716%,rgba(196, 196, 196, 0.46) 85.716%, rgba(196, 196, 196, 0.46) 100.002%),linear-gradient(45deg, rgb(252, 252, 252) 0%, rgb(252, 252, 252) 14.286%,rgb(246, 246, 246) 14.286%, rgb(246, 246, 246) 28.572%,rgb(241, 241, 241) 28.572%, rgb(241, 241, 241) 42.858%,rgb(235, 235, 235) 42.858%, rgb(235, 235, 235) 57.144%,rgb(229, 229, 229) 57.144%, rgb(229, 229, 229) 71.43%,rgb(224, 224, 224) 71.43%, rgb(224, 224, 224) 85.716%,rgb(218, 218, 218) 85.716%, rgb(218, 218, 218) 100.002%);
          text-align:center;
          transition: all .6s linear;
      }   
      nav ul li{
          display: block;
          margin-top: 20px;
        }
      nav ul li a{
          font-size: 30px;
          color: rgb(0, 0, 0);
        }
        nav ul li a:hover,nav ul li a:active{
          background: none;
          color: rgb(74, 169, 242);
          padding: 10px 22px ;
          background-color: rgba(255, 255, 255, 0.238);
          transition: .2s;
      }
      .switch
      {
        top: 45px !important;
        left: 0px !important;
      }
  
    }
  
  @media (max-width:500px){
      .logo{
        font-size: 30px;
        padding: 0px 20px; 
      }
  }
  
  .block{
    display: block;
    transition: top .5s ;
  }
  
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    top: -8px;
    left: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9b9999;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
    
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(-10deg);
    }
    
    75% {
      transform: rotate(10deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }
  
  
  main{
    position: relative;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    gap:50px;
    margin: 80px 0;
  }
  
  .box{
    font-family: "Josefin Sans", sans-serif ;  
    min-width: 350px;
    height: 25vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap:10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 10px;
    background-color: whitesmoke;
  }
  
  hr{
    color: #e0dede;
    width:90vw;
    margin: 10px 5vw;
  }
  
  .inp1{
    display: flex;
  }
  
  
  .inp1 img{
    mix-blend-mode: color-burn;
  }
  
  .gender input{
    display: none;
  }
  
  .gender input:checked + .radio-btn{
    background-color:rgb(220, 220, 220);
    border-radius: 10px;
    outline: 2px solid rgb(43, 133, 224);
  }
  
  .female input:checked + .radio-btn{
    background-color:rgb(220, 220, 220);
    border-radius: 10px;
    outline: 2px solid rgb(212, 74, 203);
  }
  
  
  .radio-btn{
    width:70px;
    height:70px;
    position: relative;
    padding: 3px 10px 0;
    text-align: center;
    cursor: pointer;
    margin-left: 32px;
    margin-right: -31px;
  }
  
  .inp1 p{
    font-size: 16px;
    color: black;
  }
  
  .inp1 span{
    position: relative;
    top: 29px;
    height: fit-content;
    font-size: 23px;
    color: black;
  
  }
  
  .inp2 input,.inp3 input, .inp4 input{
    width:130px;
    height: 35px;
    position: relative;
    top:-2px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 20px;
  }
  
  
  .inp2 input{
    margin-left: 50px;
  }
  
  .inp4 input{
    margin-left: 22px;
  }
  
  .other p{
    position: relative;
    top: 23px;
    font-size: 20px;
    left: -1px;
  }
  
  .other input:checked + .radio-btn{
    background-color:rgb(220, 220, 220);
    border-radius: 10px;
    outline: 2px solid rgb(164, 24, 235);
  }
  
  .inp{
    margin: 25px 56px 25px 30px;
    font-size: 22px;
    color: black;
  }
  
  .inp button{
    width:fit-content;
    left: 10px;
    position: relative;
    top: -2px;
    background: none;
    border: none;
    color: rgb(0, 98, 255);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .sub
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #fts,#ins{
    width:64px;
    font-size: 13px;
  }
  
  #ins{
    margin-left: 0px;
    margin-right: -4px;
  }
  
  
  .main{
    display: flex;
    width: 100%;
    align-items: center;
    /* height: 75vh; */
    flex-direction: column;
    position: relative;
    top:-25px;
    gap: 50px;
    padding-top: 70px;
    display: none;
    margin-top: 20px;
  
  }
  
  .res{
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif ;  
  }
  
  .cta{
    padding: 10px 17px;
    border-radius: 7px;
    border: none;
    background-color: rgb(174, 174, 174);
    color: black;
    font-size: 20px;
  }
  
  .cta:hover{
    cursor: pointer;
  }
  
  
  section{
    display: flex;
    width: 100vw;
    padding:50px;
    gap:50px;
    padding-top: 105px;
  }
  
  section p{
    font-size: 21px;
    margin-top: 20px;
    text-align: justify;
  }
  
  .what{
    margin: 0 20px;
  }
  section h2{
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
  }
  
  #section img{
    margin-top: 30px;
  }
  
  .mainImg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section img{
    border-radius: 12px;
    margin-left: 60px;
  }
  
  #aside h2{
    font-size: 40px;
  }
  
  #aside{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
    padding-bottom: 20px;
    gap:20px;
  }
  
  #aside img{
    position: relative;
    right: 40px
  }
  
  @media (max-width:1004px) {
    section{
      flex-direction: column;
    }
    
    section img{
      width:500px;
      margin-left: 0px;
    }  
    .what{
      margin: 0 0px;
      text-align: left;
    }
    section h2{
      font-size: 39px;
    }
    main{
      margin: -65px 0;
    }
    
    #aside{
      flex-direction: column;
    }
  
    #aside img{
      position: relative;
      right: 0px;
    }
  }
  @media (max-height:800px) and (max-width:420px) {
    main{
      top:43px;
    }
  }
  
  @media (max-width:480px) {
    
    section img{
      width:300px;
      height: 220px;
    }
    h1{
      font-size: 40px !important;
    }
    .cond{
      width: 90% !important;
    }
    .cond p{
      text-align: justify !important;
    }
    .mode{
      padding-top: 40px;
      flex-direction: column;
    }
    
    .mode button{
      font-size: 16px;
    }
  
    .not{
      position: relative;
      top: 30px;
    }
  }
  
  h1{
    font-size: 50px;
    font-weight: 500;
  }
  
  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  
  .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  @media (prefers-reduced-motion) {
    .hidden{
      transition: none;
    }
  }
  
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  
  #aside ol{
    margin-left: 20px;
    margin-right: 0px;
    font-size: 20px;
  }
  
  .cond{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    position: relative;
    top: -30px;
    background-color:whitesmoke;
    border-radius: 8px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: 25px;
    margin-bottom: -30px;
  }
  
  .cond p{
    text-align: justify;
    font-size: 19px;
  }
  
  .mode{
    padding: 24px 0 6px;
    display: flex;
    gap:20px;
  }
  
  #cat{
    margin-bottom: 30px;
  }
  
  .mode a{
    text-decoration: none;
    color: black;
    padding:12px 24px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: rgba(189, 221, 249, 0.587);
    color: black;
    font-size: 16px;
    text-align: center;
  }